<header
  class="flex justify-between px-1 py-2 bg-lmsRose100 items-center shadow-lmsShadow_white xl:px-[64px]"
>
  <section class="flex justify-between gap-[6px] items-center">
    <section>
      <button
        id="dropdownDividerButton"
        data-dropdown-toggle="dropdownDivider2"
        class="p-3"
      >
        <img src="/assets/images/menu_icon.svg" alt="menu_icon" />
      </button>
      <!-- Dropdown menu -->
      <div
        id="dropdownDivider2"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
      >
        <ul
          *ngIf="isUserLoggedIn"
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownDividerButton"
        >
          <li>
            <a
              routerLink="/categories"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Categories</a
            >
          </li>
          <li>
            <a
              routerLink="/books"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Books</a
            >
          </li>
          <li>
            <a
              routerLink="/"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Home</a
            >
          </li>
        </ul>
      </div>
    </section>
    <h1 class="text-[22px] font-normal hidden lg:block">Products</h1>
  </section>
  <h1 class="text-[22px] font-normal lg:hidden">Header</h1>
  <section>
    <button
      id="dropdownDividerButton"
      data-dropdown-toggle="dropdownDivider"
      class="p-3"
    >
      <img src="/assets/images/user_icon.svg" alt="user_icon" />
    </button>
    <!-- Dropdown menu -->
    <div
      id="dropdownDivider"
      class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
    >
      <ul
        class="py-2 text-sm text-gray-700 dark:text-gray-200 cursor-pointer"
        aria-labelledby="dropdownDividerButton"
      >
        <li *ngIf="!isUserLoggedIn">
          <a
            routerLink="/login"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Login</a
          >
        </li>
        <li *ngIf="!isUserLoggedIn">
          <a
            routerLink="/signup"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Signup</a
          >
        </li>
        <li *ngIf="isUserLoggedIn">
          <a
            (click)="logout()"
            (keyup)="logout()"
            tabindex="0"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </section>
</header>
