// rose color
$--lms-rose-100:#FEF7FF;
$--lms-rose-200:#F3EDF7;
$--lms-rose-700:#EF6082;

// orange color
$--lms-orange-100:#FFF3E0;
$--lms-orange-700:#FC3838;

// black color
$--lms-black-100:#49454F;
$--lms-black-200:#000000;
$--lms-black-700:#262626;

// white color
$--lms-white-100:#FFF;
$--lms-white-700:#F9F9F9;




