<app-wrapper>
  <section class="flex flex-col justify-between gap-5 p-10 h-[61%]">
    <div class="flex items-center justify-between gap-5">
      <h2 class="text-2xl font-semibold text-gray-900">{{ title }}</h2>
      <button
        (click)="newMode()"
        data-modal-target="crud-modal"
        data-modal-toggle="crud-modal"
        class="flex items-center px-4 py-2 text-sm font-medium text-white bg-lmsOrange700 rounded-lg"
      >
        Add new
      </button>
      <button
        #editButton
        data-modal-target="crud-modal"
        data-modal-toggle="crud-modal"
        class="hidden items-center px-4 py-2 text-sm font-medium text-white bg-lmsOrange700 rounded-lg"
      >
        Add new
      </button>
      <button
        #deleteButton
        data-modal-target="popup-modal"
        data-modal-toggle="popup-modal"
        class="hidden items-center px-4 py-2 text-sm font-medium text-white bg-lmsOrange700 rounded-lg"
      >
        Delete
      </button>
    </div>
    <div class="flex flex-col justify-between gap-5 h-[90%]">
      <div class="flex flex-row items-start">
        <div class="w-[30%]">
          <label
            for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
            >Search</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
            </div>
            <input
              [(ngModel)]="searchQuery"
              (ngModelChange)="searchChanges($event)"
              type="text"
              id="default-search"
              class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-100 rounded-lg focus:border-blue-500"
              placeholder="Search Mockups, Logos..."
            />
            <!-- <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-lmsOrange700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button> -->
          </div>
        </div>
      </div>
      <div *ngIf="totalSize > 0; else noDataFound" class="h-[85%]">
        <div
          *ngIf="!loadingState; else loading"
          class="relative overflow-x-auto shadow-md sm:rounded-lg h-[100%]"
        >
          <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 sticky top-0 z-10"
            >
              <tr>
                <th
                  *ngFor="let setting of settings; let i = index"
                  scope="col"
                  class="px-6 py-3"
                >
                  {{ setting.name }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let category of items; let i = index"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50"
              >
                <ng-container *ngFor="let setting of settings; let f = index">
                  <td *ngIf="setting.key !== 'actions'" class="px-6 py-4">
                    {{ category[setting.key] }}
                  </td>
                  <td class="px-6 py-4" *ngIf="setting.key === 'actions'">
                    <div class="flex gap-2 justify-start items-center">
                      <button
                        (click)="editMode(category)"
                        class="font-medium text-lmsOrange700 hover:underline cursor-pointer"
                      >
                        Edit
                      </button>
                      <button
                        (click)="deleteMode(category)"
                        class="font-medium bg-red-600 rounded-md text-white p-1 hover:underline"
                      >
                        Delete
                      </button>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <nav
            class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4 sticky bottom-0 z-10 bg-lmsWhite100"
            aria-label="Table navigation"
          >
            <span
              class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto"
              >Showing
              <span class="font-semibold text-gray-900 dark:text-white"
                >{{ page * size - (size - 1) }}-{{
                  page * size > totalSize ? totalSize : page * size
                }}</span
              >
              of
              <span class="font-semibold text-gray-900 dark:text-white">{{
                totalSize
              }}</span></span
            >
            <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
              <li>
                <a
                  (click)="previous()"
                  (keyup)="previous()"
                  tabindex="0"
                  class="cursor-pointer flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700"
                  >Previous</a
                >
              </li>
              <li>
                <a
                  aria-current="page"
                  class="flex items-center justify-center px-3 h-8 text-lmsOrange700 border border-gray-300 bg-lmsRose100 hover:bg-lmsRose200"
                  >{{ page }}</a
                >
              </li>
              <li>
                <a
                  (click)="next()"
                  (keyup)="next()"
                  tabindex="0"
                  class="cursor-pointer flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
</app-wrapper>

<app-create-update-modal
  [dataBase]="'categories'"
  [selectedItem]="selectedItem"
  (addUpdateEmitter)="addNew($event)"
></app-create-update-modal>
<app-delete-modal
  [selectedItem]="selectedItem"
  (deleteEmitter)="deleteCategory($event)"
></app-delete-modal>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<ng-template #noDataFound>
  <app-no-data-found></app-no-data-found>
</ng-template>
