// rose color
$--lms-rose-100: #fef7ff;
$--lms-rose-200: #f3edf7;
$--lms-rose-700: #ef6082;

// orange color
$--lms-orange-100: #fff3e0;
$--lms-orange-700: #fc3838;

// black color
$--lms-black-100: #49454f;
$--lms-black-200: #000000;
$--lms-black-700: #262626;

// white color
$--lms-white-100: #fff;
$--lms-white-700: #f9f9f9;
