<section class="relative font-lato">
  <img
    src="/assets/images/bannerNew_Mobile_1.webp"
    alt="banner new mobile"
    class="h-[600px] w-[100%] object-cover sm:hidden"
  />
  <img
    src="/assets/images/bannertablet_tablet_1.webp"
    alt="banner new mobile"
    class="h-[540px] w-[100%] object-cover hidden sm:block lg:hidden"
  />
  <img
    src="/assets/images/bannerbig_Desktop_1.webp"
    alt="banner new mobile"
    class="h-[540px] w-[100%] object-cover hidden lg:block"
  />
  <section
    class="mt-5 lg:mt-0 xl:px-20 2xl:px-48 absolute w-[100%] h-[100%] top-0 left-0 flex flex-col px-4 lg:px-16 items-center sm:items-start sm:justify-center text-center sm:text-left gap-5"
  >
    <p class="text-sm lg:text-xl font-medium text-lmsBlack700">Celebrate with us!</p>
    <div class="flex flex-col gap-1">
      <h2 class="text-4xl font-light text-lmsRose700">Welcome</h2>
      <h2
        class="text-[40px] leading-none text-lmsRose700 font-extrabold max-w-fit"
      >
        To the library system
      </h2>
    </div>
    <p class="text-sm font-medium text-lmsBlack700">
      Shop from our online store!
    </p>
    <button
      type="submit"
      class="text-white text-base px-8 py-3 bg-lmsOrange700 rounded-[40px] shadow-lmsShadow_orange mt-1"
    >
      Shop Now!
    </button>
  </section>
</section>
