<section
  class="flex justify-center items-center h-screen w-screen bg-lmsOrange100"
>
  <section
    class="w-[85%] md:w-[75%] xl:w-[50%] h-fit p-5 border border-lmsOrange700 rounded-lg bg-white"
  >
    <section class="flex flex-col gap-4 items-center">
      <h1 class="text-lmsOrange700 text-2xl">Sign up</h1>
      <img
        class="w-28"
        src="/assets/images/undraw_book_lover_re_rwjy.svg"
        alt="book_logo"
      />
    </section>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <div class="mb-6">
        <label
          for="firstName"
          class="block mb-2 text-sm font-medium text-gray-900"
          >* First name</label
        >
        <input
          formControlName="firstName"
          type="firstName"
          id="firstName"
          [ngClass]="{
            'border-red-700':
              signupForm.get('firstName')?.invalid &&
              signupForm.get('firstName')?.touched,
          }"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Enter your first name"
        />
        <div
          *ngIf="
            signupForm.get('firstName')?.invalid &&
            signupForm.get('email')?.touched
          "
        >
          <div
            *ngIf="signupForm.get('firstName')?.errors?.['required']"
            class="text-red-700 text-sm"
          >
            * First name required
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label
          for="lastName"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Last name</label
        >
        <input
          formControlName="lastName"
          type="lastName"
          id="lastName"
          [ngClass]="{
            'border-red-700':
              signupForm.get('lastName')?.invalid &&
              signupForm.get('lastName')?.touched,
          }"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Enter your last name"
        />
        <div
          *ngIf="
            signupForm.get('lastName')?.invalid &&
            signupForm.get('lastName')?.touched
          "
        >
          <div
            *ngIf="signupForm.get('lastName')?.errors?.['required']"
            class="text-red-700 text-sm"
          >
            * Last Name required
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
          >* Email address</label
        >
        <input
          formControlName="email"
          type="email"
          id="email"
          [ngClass]="{
            'border-red-700':
              signupForm.get('email')?.invalid &&
              signupForm.get('email')?.touched,
          }"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="john.doe@company.com"
        />
        <div
          *ngIf="
            signupForm.get('email')?.invalid && signupForm.get('email')?.touched
          "
        >
          <div
            *ngIf="signupForm.get('email')?.errors?.['required']"
            class="text-red-700 text-sm"
          >
            * Email required
          </div>
          <div
            *ngIf="signupForm.get('email')?.errors?.['email']"
            class="text-red-700 text-sm"
          >
            * Please enter correct email
          </div>
        </div>
      </div>
      <div class="mb-6">
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >* Password</label
        >
        <input
          formControlName="password"
          type="password"
          id="password"
          [ngClass]="{
            'border-red-700':
              signupForm.get('password')?.invalid &&
              signupForm.get('password')?.touched,
          }"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="•••••••••"
        />
        <div
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched &&
            signupForm.get('password')?.errors?.['required']
          "
          class="text-red-700 text-sm"
        >
          * Password required
        </div>
        <div
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched &&
            signupForm.get('password')?.errors?.['minlength']
          "
          class="text-red-700 text-sm"
        >
          * Password length should be 8 characters
        </div>
        <div
          *ngIf="
            signupForm.get('password')?.invalid &&
            signupForm.get('password')?.touched &&
            signupForm.get('password')?.errors?.['pattern']
          "
          class="text-red-700 text-sm"
        >
          * Password should includes at least 1 small letter, 1 capital letter,
          1 number and 1 special character
        </div>
      </div>

      <div class="mb-6">
        <label
          for="confirmPassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >* Confirm password</label
        >
        <input
          formControlName="confirmPassword"
          type="password"
          id="confirmPassword"
          [ngClass]="{
            'border-red-700':
              signupForm.get('confirmPassword')?.invalid &&
              signupForm.get('confirmPassword')?.touched,
          }"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="•••••••••"
        />
        <div
          *ngIf="
            signupForm.get('confirmPassword')?.touched &&
            signupForm.errors?.['mismatch']
          "
          class="text-red-700 text-sm"
        >
          * Password should match confirm password
        </div>
      </div>

      <div class="mb-6">
        <p class="text-gray-900">
          If you have account
          <a routerLink="/login" class="text-lmsOrange700 cursor-pointer"
            >Login</a
          >
        </p>
         or get back to <a routerLink="/" class="text-lmsOrange700 cursor-pointer">home</a>
      </div>

      <div class="mb-6">
        <p class="text-red-500">{{ message }}</p>
      </div>

      <button
        type="submit"
        class="text-white px-8 py-3 bg-lmsOrange700 rounded-[40px] shadow-lmsShadow_orange"
      >
        Sign up
      </button>
    </form>
  </section>
</section>
